body {
  background-color: #F1F9F9;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  height: auto;
  margin: auto;
}

#editor {
  position: relative;
  top: 5vh;
  width: 80%;
  height: auto;
  background-color: #F3DFE3;
  border: 1px solid #E9B2BC;
}

#preview {
  position: relative;
  top: 10vh;
  width: 81%;
  height: auto;
  background-color: #E1F2FB;
  border: 1px solid #68beeb;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

@media only screen and (max-width: 600px) {
  body {
    width: 95%;
  }
  #wrapper {
    width: 95%;
  }
  #editor {
    width: 90%;
  }
  #preview {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  img {
    max-width: 300px;
  }
}
